.headerSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 237, 237);
  height: 100vh;
  margin-left: 200px;
  
}

.blogPostContent {
  font-size: 18px; 
  line-height: 1.5; 
}

.blogPostContainer {
  width: 800px; 
  background-color: #f8f9fa; 
  border-radius: 5px; 
  padding: 20px; 
  height: 600px;
}

.blogPostTitle {
  text-align: center; 
  font-size: 32px; 
  font-weight: bold; 
  margin-bottom: 20px; 
  margin-top: 10%; 
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltipText {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

